<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--2.在头部配置base标签通过thymeleaf内置的request对象获取全局路径注意以命名的方式（th）获取路径-->
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="resources/css/reset.css" type="text/css"
          media="screen" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="resources/css/style.css" type="text/css"
          media="screen" />
    <link rel="stylesheet" href="resources/css/invalid.css" type="text/css"
          media="screen" />

    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript"
            src="resources/scripts/jquery-1.8.3.min.js"></script>
    <!-- jQuery Configuration
    <script type="text/javascript"
            src="resources/scripts/simpla.jquery.configuration.js"></script>-->

    <!-- 添加弹出框的jquery插件 -->
    <script type="text/javascript" src="resources/widget/dialog/jquery-ui-1.9.2.custom.min.js"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <!--引入ztree的配置及样式-->
    <script type="text/javascript" src="resources/widget/zTree/jquery.ztree.all.min.js"></script>
    <link rel="stylesheet" href="resources/widget/zTree/zTreeStyle/zTreeStyle.css">

</head>
<body>
<div id="main-content">
    <div class="content-box">
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1">
                <table>
                    <thead>
                    <tr>
                        <th><input class="check-all" type="checkbox" /></th>
                        <th>编号</th>
                        <th>角色名</th>
                        <th>职位</th>
                        <th>入职时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <!--1.遍历集合展示列表-->
                    <tbody>
                    <tr th:each="role : ${roles}">
                        <td><input type="checkbox" /></td>
                        <td th:text="${role.id}">Lorem ipsum dolor</td>
                        <td th:text="${role.rolename}"><a href="#" title="title">Sit amet</a></td>
                        <td th:text="${role.rolealias}">Consectetur adipiscing</td>
                        <td th:text="${#dates.format(role.createtime, 'yyyy-MM-dd')}">Donec tortor diam</td>
                        <td>
                            <!-- Icons --> <a href="#" title="Edit"><img
                                src="resources/images/icons/pencil.png" alt="Edit" /></a> <a
                                th:href="@{/role/delete/__${role.id}__}" title="Delete"><img
                                src="resources/images/icons/cross.png" alt="Delete" /></a>
                            <a
                               th:onclick="|set_role_power(${role.id})|" title="Edit Meta"><img
                                src="resources/images/icons/hammer_screwdriver.png"
                                alt="Edit Meta" /></a>
                            <!-- <a th:href="/buser/delete/${user.id}">删除</a>-->
                        </td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="bulk-actions align-left">
                                <!--添加职工通过弹窗的方式-->
                                <a class="mybutton" onclick="open_dialog();">添加角色</a>
                            </div>
                            <!--<div class="pagination">
                                <a href="#" title="First Page">&laquo; First</a><a href="#"
                                                                                   title="Previous Page">&laquo; Previous</a> <a href="#"
                                                                                                                                 class="number" title="1">1</a> <a href="#" class="number"
                                                                                                                                                                   title="2">2</a> <a href="#" class="number current" title="3">3</a>
                                <a href="#" class="number" title="4">4</a> <a href="#"
                                                                              title="Next Page">Next &raquo;</a><a href="#"
                                                                                                                   title="Last Page">Last &raquo;</a>
                            </div>-->
                            <!-- End .pagination -->
                            <div class="clear"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- End .content-box-content -->
    </div>
</div>
<!-- End #main-content -->

<script>
    //定义一个rid和ztree的全局对象
    var roleid = "";
    var zTreeObject = "";
    function updateRolePower() {
        var rid = roleid;
        //定义一个数组用于存储pid
        var pids = new Array();
        //ztree对象获取的是一个节点数据
        var checkedNodes = zTreeObject.getCheckedNodes(true);
        for(var i =0 ;i<checkedNodes.length;i++){
           /* alert(checkedNodes[i].powername)*/
            //将选择的每个节点的id装入数组
            pids.push(checkedNodes[i].id);
        }

        $.post("/role/updateRolePower",{"rid":rid,"pids":pids},function (data) {
            if (data=="success"){
                $("#ztree_Div").dialog("close");
            }
        },"text");


    }
    //修改制定角色的权限
    function set_role_power(rid) {
        roleid = rid;
        var setting = {
            data:{
                key:{
                    name:"powername"
                },
                simpleData:{
                    enable:true,
                    pIdKey:"pid"
                }
            },
            view:{
                //隐藏节点图标
                showIcon:false
            },
            check:{
                enable: true,
                chkboxType: {"Y":"ps", "N":"s"}
            }
        };

        $.get("/power/queryPowerByRid",{"rid":rid},function(data){
            //生成ztree树形结构
            zTreeObject = $.fn.zTree.init($("#ztreeDiv"), setting, data);
            zTreeObject.expandAll(true);//全部展开
        },"json")

        $("#ztree_Div").dialog({
            title:"选择权限",
            modal :true
        })

    }


    //弹出添加职工的dialog
    function open_dialog(){
        //3.设置弹窗的属性
        $("#dialog_div").dialog({
            title: "添加职工",
            width: 400,
            height: 300,
            modal: true//背景不可被点击
        });
    }
</script>

<!-- 代表一个弹出框 - 默认隐藏 -->
<div id="dialog_div" style="display: none;">
    <form action="/role/addRole" method="post">
        角色名:<input name="roleName"/><br/>
        职务:<input name="roleAlias" type="text"/><br/>
        创建时间:<input name="createTime" type="date"/><br/>

        <button type="submit">添加</button>
    </form>
</div>
<div id="ztree_Div" style="display: none">
    <div id="ztreeDiv" class="ztree"></div>
    <button type="button" onclick="updateRolePower()">确定</button>
</div>

</body>
</html>